<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Dollar Boss - show yearly statistics</title>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/dt/dt-1.10.12/datatables.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/custom.css" />
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Header</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Dollar Boss - Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/uploadStatements">Upload Statements</a></li>
                <li><a href="/addTransactionManually">Add Transaction Manually</a></li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistics <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/showMonthlySummary">Show Monthly Summary</a></li>
                        <li class="active"><a href="/showYearlyStatisticsByCategory">Show Yearly Statistics By Category</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
<div class="container jumbotron">
    <h3 class="title">Yearly Statistics</h3>
    <div id="yearlyStatistics"></div>
    <hr />
    <div class="row">
        <!--Insert the line chart here-->
        <div class="col-md-6"></div>
        <!--Select the category to show-->
        <div class="controls col-md-6">
            <label for="category">Select the category:</label>
            <select id="category" class="form-control">
                <option th:each="transactionCategory : ${transactionCategories}" th:text="${transactionCategory}">
                    Fixed Cost
                </option>
            </select>
        </div>
        <!--Select the category to show-->
    </div>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; SHINO HARTMANN</span>
    </div>
</footer>
<!--JavaScript-->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
/*<![CDATA[*/
$(document).ready(function() {
    Highcharts.setOptions({
		lang: {
			thousandsSep: ','
		}
    });
    changeStatistics();
    $("#category").change(function() {
        changeStatistics()
    });
});

function changeStatistics() {
    var highchartsConfig = {
        title: {
            text: 'Yearly Statistics By Category',
            x: -20
        },
        subtitle: {
            text: 'Expense and average',
            x: -20
        },
        xAxis: {categories: []},
        yAxis: {
            title: {text: 'Amount (£)'},
            labels: {formatter: function () {return this.value;}}
        },
        tooltip: {
            crosshairs: true,
            shared: true,
            valuePrefix: '£ '
        },
        "language": {
            "decimal": ".",
            "thousands": ","
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        series: [{
            name: '',
            marker: {symbol: 'square'},
            data: []

        },{
            name: 'Average',
            marker: {symbol: 'diamond'},
            color: '#ff9966',
            data: []
        }]
    };
    var category = $('#category option:selected').val();
    $.getJSON("/getYearlyExpenses?category=" + category, function(response) {
        highchartsConfig.series[0].name = category;
        highchartsConfig.xAxis.categories = response[0];
        highchartsConfig.series[0].data = response[1];
        highchartsConfig.series[1].data = response[2];
        highchartsConfig.language.thousands = ",";
        $('#yearlyStatistics').highcharts(highchartsConfig);
    });
}
/*]]>*/
</script>
</body>
</html>