/* common */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.title {
    font: bold 2em/2.5em;
    color: #5891c2;
    margin-top: -0.5em;
}

.center-block {
    float: none !important
}
.hidden {
    display: none;
}
.error_message {
    color: red;
}
.without_session {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

/* login */

.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-login .form-login-heading,
.form-login .checkbox {
    margin-bottom: 10px;
}
.form-login .checkbox {
    font-weight: normal;
}
.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-login .form-control:focus {
    z-index: 2;
}
.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* forms*/
.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}
/* tables */
.no-wrap {
    white-space: nowrap;
}
.negativeValue {
    color: red;
}

/* header */
.navbar-static-top {
    margin-bottom: 19px;
}

/* footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #8cb4d6;
}

.form-label {
    text-align: left; !important
}

@media(min-width:992px){
    .form-label {
        text-align: right; !important
    }
}