<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Dollar Boss - home</title>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/dt/dt-1.10.12/datatables.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/custom.css" />
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Header</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Dollar Boss - Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/uploadStatements">Upload Statements</a></li>
                <li><a href="/addTransactionManually">Add Transaction Manually</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistics <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/showMonthlySummary">Show Monthly Summary</a></li>
                        <li><a href="/showYearlyStatisticsByCategory">Show Yearly Statistics By Category</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <p>Hello, <spam th:text="${session.userName}">unknown user</spam>!</p>
        </div>
        <hr />
        <h3 class="title">Details</h3>
        <table id="details" class="display text-right" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Account</th>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Balance</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; SHINO HARTMANN</span>
    </div>
</footer>
<!--JavaScript-->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/u/dt/dt-1.10.12/datatables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

<script>
$(document).ready(function() {
    $('#details').DataTable({
        "pageLength": 10,
        "ajax": "/getDetails",
        "order": [[ 1, "desc" ]],
        "columns": [
            { "data": "accountNumber" },
            {
                "data": "date",
                "sClass": "no-wrap"
             },
            {
                "data": "transactionCategory",
                "sClass": "no-wrap"
            },
            { "data": "amount" },
            {
                "data": "description",
                "sClass": "text-left"
            },
            { "data": "balance" }
        ]
    });
});
</script>
</body>
</html>